/**
 * @Last modified by:   Amirhosseinhpv
 * @Last modified time: 2022/01/11 18:20:51
 */
toast {
  display: block;
  padding: 0.5rem 2rem;
  background: var(--toast-bg, rgba(0, 0, 0, .8));
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100vw;
  padding: 1rem 0;
  left: 0;
  padding: 1rem;
  z-index: 99999;
  box-shadow: 0 2px 11px 0 rgba(0, 0,0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  transform: translateY(110%);
  position: fixed;
  z-index: 9999999999999999 !important;
}

toast.active {
  transform: translateY(0);
}

.woocommerce-table--upload-receipt * {
  border: none;
}

.receipt-preview {
  width: 200px;
  height: auto;
  border-radius: 4px;
}

.receipt-preview.approved {
  box-shadow: 0 0 0 3px green;
}

.receipt-preview.pending {
  box-shadow: 0 0 0 3px orange;
}

.receipt-preview.rejected {
  box-shadow: 0 0 0 3px red;
}

.receipt_uploading-loader {}
@-webkit-keyframes ldio-0r9ic9wjpqu {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio-0r9ic9wjpqu {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ldio-0r9ic9wjpqu > div > div {
  position: absolute;
  border-radius: 50%;
}

.ldio-0r9ic9wjpqu > div > div:nth-child(1) {
  top: 30px;
  left: 30px;
  width: 140px;
  height: 140px;
  background: #1e1e1e;
}

.ldio-0r9ic9wjpqu > div > div:nth-child(2) {
  top: 39.800000000000004px;
  left: 79px;
  width: 42px;
  height: 42px;
  background: #ffffff;
  -webkit-animation: ldio-0r9ic9wjpqu 1s linear infinite;
  animation: ldio-0r9ic9wjpqu 1s linear infinite;
  transform-origin: 21px 60.199999999999996px;
}

.loadingio-spinner-disk-mnv03m2b0h {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-0r9ic9wjpqu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-0r9ic9wjpqu div {
  box-sizing: content-box;
}

.receipt_uploading-loader {
  display: none;
}

.woocommerce-table--upload-receipt th {
  width: 200px;
}
